:root {
    --font-body: 'Roboto', sans-serif;
    --clr-prim-green: #23424A;
    --clr-sec-green: #136C72;
    --clr-lblue: #38CFD9;
    --clr-violet-accent: #87629A;
}

.intro {
    background-color: var(--clr-prim-green);
    color: white;
    padding: 8rem;
}

.intro__content {
    width: min(80%, 44rem);
}

.intro__title {
    font-size: var(--step-4);
    margin-block-end: 1.6rem;
}

.intro__text {
    margin-block-end: 3.6rem;
    opacity: .8;
}

.btn {
    background-color: var(--clr-lblue);
    border-radius: 100vw;
    color: var(--clr-prim-green);
    display: inline-block;
    font-weight: 900;
    padding: .8rem 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;
}

.btn:hover,
.btn:focus-visible {
    color: #fff;
    outline: 2px solid #fff;
    outline-offset: .16rem;
}

.benefits__heading {
    color: var(--clr-prim-green);
    font-size: var(--step-2);
    margin-block: 4.8rem .8rem;
    margin-inline: auto;
    text-align: left;
    text-transform: uppercase;
    width: min(80%, 80rem);
}

.benefits__list {
    display: flex;
    gap: 1.6rem;
    padding-block: 4rem;
    width: min(80%, 80rem);
    margin-inline: auto;
}

.benefits__list--primary h3 {
    color: var(--clr-violet-accent);
}

.benefits__item {
    text-align: center;
}

.benefits__item__title {
    font-size: var(--step-1);
    margin-block-end: .8rem;
}

.benefits__bg {
    background-color: var(--clr-sec-green);
    color: #fff;
}
