.hero {
    background-color: #23424a;
    color: #fff;
    padding-block: var(--space-3xl);
    padding-inline: var(--space-2xl);
}

.hero__wrapper {
    width: min(100%, 48rem);
}

.hero__title {
    font-size: var(--step-4);
    margin-block-end: var(--space-l);
}

.hero__text {
    opacity: 0.8;
    margin-block-end: var(--space-xl);
}

.btn {
    background-color: #38CFD9;
    border-radius: 100vw;
    color: #3A3A3A;
    display: inline-block;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;
    padding: .8em 1.6em;
}

.btn:hover,
.btn:focus-visible {
    color: #fff;
    outline: 3px solid #fff;
    outline-offset: 0.01rem;
}