/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-content to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

.container {
  background: #23424a;
  color: white;

  inline-size: 80%;
  margin-inline: auto;

  padding: 3.6em;
}

.intro-content {
    inline-size: 50%;
}

h1 {
    margin-block-end: 0.75em;
}

p + p {
    margin-block-start: 1em;
}