/* ---------- Body ---------- */

body {
    min-block-size: 100vh;
    text-rendering: optimizeSpeed;
}

/* ---------- Media ---------- */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-inline-size: 100%;
}

img {
    background-color: var(--lqip, var(--lqip-fallback));
}

/* ---------- Links ---------- */

a {
    transition: color 0.2s ease-in-out;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* ---------- Form Elements ---------- */

input,
button,
textarea,
select {
    font: inherit;
}

/* ---------- Buttons ---------- */

button {
    cursor: pointer;
}