/* ---------- Box sizing ---------- */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

/* ---------- Media ---------- */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* ---------- Form Elements ---------- */

input,
button,
textarea,
select {
    font: inherit;
}

/* ---------- Buttons ---------- */

button {
    cursor: pointer;
}

/* ---------- Lists ---------- */

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}