/* ---------- Base Typography ---------- */

body {
    font-family: var(--font-body);
    font-size: var(--step-0);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* ---------- Headings ---------- */

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    text-wrap: balance;
}

h1 {
    font-size: var(--step-3);
}

h2 {
    font-size: var(--step-2);
}

/* ---------- Paragraphs ---------- */

p {
    text-wrap: pretty;
    overflow-wrap: break-word;
}