body {
    place-items: center;
}

.home {
    background-color: hsl(0 0% 100%);
    box-shadow:
        0 1.5rem 3rem hsl(0 0% 0% / 0.08);
    inline-size: min(90%, 48rem);
}

.home p {
    max-inline-size: 60ch;
}

.home a {
    padding: 0.85em 1.4em;
}