:root {
    --clr-prim-green: #23424A;
    --clr-sec-green: #136C72;
    --clr-lblue: #38CFD9;
    --clr-violet-accent: #87629A;
}

.intro {
    background-color: var(--clr-prim-green);
    color: white;
}

.container {
    width: min(80%, 80rem);
    margin-inline: auto;
}

.intro__content {
    padding-block: var(--space-3xl);
    width: min(100%, 44rem);
}

.intro__title {
    font-size: var(--step-4);
    margin-block-end: var(--space-m);
}

.intro__text {
    margin-block-end: var(--space-xl);
    opacity: 0.8;
}

.btn {
    display: inline-block;
    background-color: var(--clr-lblue);
    border-radius: 100vw;
    color: var(--clr-prim-green);
    font-weight: 900;
    padding: var(--space-xs) var(--space-l);
    text-transform: uppercase;
    text-decoration: none;
    transition: none;
}

.btn:hover,
.btn:focus-visible {
    color: white;
    outline: 3px solid white;
    outline-offset: 0.01rem;
}

.benefits__title {
    color: var(--clr-prim-green);
    margin-block-start: var(--space-2xl);
    text-transform: uppercase;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl) var(--space-m);
    padding-block: var(--space-2xl);
}

.benefits__list--primary h3 {
    color: var(--clr-violet-accent);
}

.benefits__list__wrapper {
    background-color: var(--clr-sec-green);
    color: #fff;
}

.benefits__item {
    flex-grow: 1;
    width: 16rem;
    text-align: center;
}

.benefits__item__title {
    font-size: var(--step-1);
    margin-block-end: var(--space-xs);
}