:root {
    --clr-dbrown: #3A3A3A;
    --clr-lblue: #38CFD9;
    --clr-prim-green: #23424A;
    --clr-sec-green: #136C72;
    --clr-violet-accent: #87629A;
}

.wrapper {
    inline-size: min(80%, 80rem);
}

.intro {
    background-color: var(--clr-prim-green);
    color: white;
}

.intro__content {
    max-inline-size: 44rem;
}

.intro__title {
    margin-block-end: var(--space-m);
}

.intro__text {
    margin-block-end: var(--space-xl);
    opacity: 0.8;
}

.btn {
    background-color: var(--clr-lblue);
    border-radius: 100vmax;
    color: var(--clr-dbrown);
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: none;
    padding: .8em 1.6em;
}

.btn:hover,
.btn:focus-visible {
    color: #fff;
    outline: 3px solid #fff;
    outline-offset: 0.01rem;
}

.benefits__title {
    color: var(--clr-prim-green);
    margin-block-start: var(--space-2xl);
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl) var(--space-m);
    padding-block: var(--space-2xl);
}

.benefits__list--primary h3 {
    color: var(--clr-violet-accent);
}

.benefits__list__wrapper {
    background-color: var(--clr-sec-green);
    color: #fff;
}

.benefits__item {
    flex: 16rem;
    text-align: center;
}

.benefits__item__title {
    font-size: var(--step-1);
    margin-block-end: var(--space-xs);
}