/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

.intro {
    background: #23424a;
    color: white;
    padding-block: 3.125rem; 
    margin-block-end: 2.8rem; 
} 

.intro-content {
    inline-size: 50%;
}

.wrapper {
    inline-size: min(80%, 46.875rem);
    margin-inline: auto;
}

h1, h2 {
    margin-block-end: 0.8rem;
}

body {
    margin-block-end: 2.8rem;
}
